{{ define "add.html" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Phone Number</title>
</head>

<body>
    <h1>Add Contact</h1>
    <div>
        <form method="POST">
            <label>Email:</label><br />
            <input type="text" name="email"><br />
            <label>Subject:</label><br />
            <input type="text" name="subject"><br />
            <label>Message:</label><br />
            <textarea name="message"></textarea><br />
            <button>Add Contact</button>
            <div>
                <label for="cars">Filter By Country:</label><br>
                <select name="countryFilter">
                    <option value="">All Countries</option>
                    {{ range .countries}}
                    <option value="{{.CountryCode}}">{{.Country}}</option>
                    {{ end}}
                </select>
            </div>
        </form>
</body>

</html>
{{ end }}